In [9]:
import csv
import pandas as pd

In [22]:
csv_file = open('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/test.csv')
csv_reader = csv.reader(csv_file, delimiter=',')
#print (list(csv_reader))
line_count = 0
for row in csv_reader:
    if line_count == 0:
        print('Column names are', ", ".join(row))
        line_count = 10
print (csv_reader)

Column names are PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked
<_csv.reader object at 0x000000000846CF50>

In [19]:
with open('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/test.csv') as fo:
    csv_reader = csv.reader(fo, delimiter=',')
    #print (list(csv_reader))
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print('Column names are', ", ".join(row))
            line_count = 1

Column names are PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked

In [23]:
#Pandas
Data = pd.DataFrame (list(csv_reader))

In [24]:
Data

Empty DataFrame
Columns: []
Index: []