In [1]:
import csv
import pandas as pd

In [22]:
csv_file = open('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/test.csv')
csv_reader = csv.reader(csv_file, delimiter=',')
#print (list(csv_reader))
line_count = 0
for row in csv_reader:
    if line_count == 0:
        print('Column names are', ", ".join(row))
        line_count = 10
print (csv_reader)

Column names are PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked
<_csv.reader object at 0x000000000846CF50>

In [19]:
with open('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/test.csv') as fo:
    csv_reader = csv.reader(fo, delimiter=',')
    #print (list(csv_reader))
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print('Column names are', ", ".join(row))
            line_count = 1

Column names are PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked

In [23]:
#Pandas
Data = pd.DataFrame (list(csv_reader))

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\gavam\appdata\local\continuum\anaconda3\lib\site-packages (1.16.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
python setup.py build_ext --inplace --force

SyntaxError: invalid syntax (<ipython-input-2-e7ea39a7d4c8>, line 1)

In [1]:
print(sample(1:3))

SyntaxError: invalid syntax (<ipython-input-1-64bbd58abd89>, line 1)

In [34]:
dataset = pd.read_csv('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/test.csv')

In [35]:
dataset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [53]:
dataset = pd.read_csv('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/gender_submission.csv')

In [54]:
dataset.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [135]:
# Importing the libraries
import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/train.csv')

In [136]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Data Dictionary
#### VariableDefinitionKey: 
- survival Survival 0 = No, 1 = Yes pclass Ticket class 1 = 1st, 2 = 2nd, 3 = 3rd 
- sex Sex Age Age in years sibsp # of siblings / spouses aboard the Titanic
- parch # of parents / children aboard the Titanic ticket Ticket number fare Passenger fare cabin Cabin number 
- embarked Port of Embarkation C = Cherbourg, Q = Queenstown, S = Southampton

#### Variable Notes

- pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

- age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

- sibsp: The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fianc√©s were ignored)

- parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
?str.replace()

In [169]:
'''DATA MANIPULATION'''
y = dataset.iloc[:, 1].values
X1 = dataset.iloc[:,0]
X2 = dataset.iloc[:, 2:]
X = pd.concat([X1,X2], axis=1)
X = X.replace(['female','male'],[0,1])#.values
#y = y.replace(['NaN',],[0,1])
X['Cabin'] = X['Cabin'].replace(regex={r'[^NaN]': 1})
values = {'PassengerId': 'NoID', 'Pclass': X['Pclass'].mean(), 'Name': 'NoName', 'Sex': 1,
          'Age': X['Pclass'].mean(),  'SibSp' : X['SibSp'].mean(), 'Parch' : X['Parch'].mean(),
          'Ticket':'NoTicket', 'Fare':'NoFare', 'Cabin': 0, 'Embarked':'NoEmbarkedInfo' }
X = X.fillna(value=values)
X = X.round(1)
X[['Pclass','Sex','Age','Pclass','SibSp','Cabin']] = X[['Pclass','Sex','Age','Pclass','SibSp','Cabin']].apply(np.int64)
print ('The shape is',X.shape)
X = X[['Pclass', 'Sex', 'Age', 'SibSp', 'Cabin']].values

The shape is (891, 11)

In [170]:
X

array([[ 3,  1, 22,  1,  0],
       [ 1,  0, 38,  1,  1],
       [ 3,  0, 26,  0,  0],
       ...,
       [ 3,  0,  2,  1,  0],
       [ 1,  1, 26,  0,  1],
       [ 3,  1, 32,  0,  0]], dtype=int64)

In [153]:
import statsmodels.formula.api as sm

In [162]:
X = np.append(np.ones((891,1)).astype(int),X,axis=1)

In [163]:
X

array([[1, 3, 1, ..., 1, 0, 0],
       [1, 1, 0, ..., 1, 0, 1],
       [1, 3, 0, ..., 0, 0, 0],
       ...,
       [1, 3, 0, ..., 1, 2, 0],
       [1, 1, 1, ..., 0, 0, 1],
       [1, 3, 1, ..., 0, 0, 0]], dtype=int64)

In [164]:
X_opt = X[:,[0,1,2,3,4,5,6]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.388
Model:                            OLS   Adj. R-squared:                  0.384
Method:                 Least Squares   F-statistic:                     93.39
Date:                Sun, 10 Mar 2019   Prob (F-statistic):           8.49e-91
Time:                        01:41:13   Log-Likelihood:                -403.24
No. Observations:                 891   AIC:                             820.5
Df Residuals:                     884   BIC:                             854.0
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.0882      0.071     15.369      0.000       0.949       1.227
x1            -0.1304      0.023     -5.643      0.000      -0.176      -0.085
x2            -0.5178      0.028    -18.480      0.000      -0.573      -0.463
x3            -0.0031      0.001     -3.735      0.000      -0.005      -0.001
x4            -0.0376      0.013     -2.896      0.004      -0.063      -0.012
x5            -0.0084      0.018     -0.466      0.641      -0.044       0.027
x6             0.1263      0.044      2.843      0.005       0.039       0.214
==============================================================================
Omnibus:                       38.499   Durbin-Watson:                   1.931
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.517
Skew:                           0.532   Prob(JB):                     5.85e-10
Kurtosis:                       3.121   Cond. No.                         188.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [165]:
X_opt = X[:,[0,1,2,3,4,6]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.388
Model:                            OLS   Adj. R-squared:                  0.384
Method:                 Least Squares   F-statistic:                     112.1
Date:                Sun, 10 Mar 2019   Prob (F-statistic):           8.48e-92
Time:                        01:50:23   Log-Likelihood:                -403.35
No. Observations:                 891   AIC:                             818.7
Df Residuals:                     885   BIC:                             847.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.0864      0.071     15.373      0.000       0.948       1.225
x1            -0.1310      0.023     -5.681      0.000      -0.176      -0.086
x2            -0.5149      0.027    -18.836      0.000      -0.569      -0.461
x3            -0.0031      0.001     -3.754      0.000      -0.005      -0.001
x4            -0.0400      0.012     -3.361      0.001      -0.063      -0.017
x5             0.1252      0.044      2.823      0.005       0.038       0.212
==============================================================================
Omnibus:                       37.681   Durbin-Watson:                   1.932
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.507
Skew:                           0.525   Prob(JB):                     9.70e-10
Kurtosis:                       3.120   Cond. No.                         188.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [82]:
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2,0,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.3,1,C
2,3,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9,0,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1,1,S
4,5,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0,0,S

In [ ]:
"""# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [3])
X = onehotencoder.fit_transform(X).toarray()

# Avoiding the Dummy Variable Trap
X = X[:, 1:]"""

In [83]:
#what we need
X.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [84]:
X[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Cabin']].head()

   Pclass  Sex  Age  SibSp  Parch  Cabin
0       3    1   22      1      0      0
1       1    0   38      1      0      1
2       3    0   26      0      0      0
3       1    0   35      1      0      1
4       3    1   35      0      0      0

In [172]:
X_test = pd.read_csv('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/test.csv')
X_test = X_test.replace(['female','male'],[0,1])#.values
#y = y.replace(['NaN',],[0,1])
X_test['Cabin'] = X_test['Cabin'].replace(regex={r'[^NaN]': 1})
values = {'PassengerId': 'NoID', 'Pclass': X_test['Pclass'].mean(), 'Name': 'NoName', 'Sex': 1,
          'Age': X_test['Pclass'].mean(),  'SibSp' : X_test['SibSp'].mean(), 'Parch' : X_test['Parch'].mean(),
          'Ticket':'NoTicket', 'Fare':'NoFare', 'Cabin': 0, 'Embarked':'NoEmbarkedInfo' }
X_test = X_test.fillna(value=values)
X_test = X_test.round(1)
X_test[['Sex','Age','Pclass','SibSp','Cabin']] = X_test[['Sex','Age','Pclass','SibSp','Cabin']].apply(np.int64)

In [174]:
X_train = X
y_train = dataset.iloc[:, 1].values 
X_test = X_test[['Sex','Age','Pclass','SibSp','Cabin']]
y_test = pd.read_csv('C:/Users/gavam/Desktop/ml_BookLab/Titanic/titanic_data/gender_submission.csv').values
y_test = y_test[:,1]

In [114]:
X_train.shape

(891, 6)

In [115]:
y_test.shape

(418,)

In [116]:
y_train.shape

(891,)

In [117]:
X_test.shape

(418, 6)

In [175]:
# Fitting Multiple Linear Regression to the Training set

from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

regressor.fit(X_train, y_train)

 

# Predicting the Test set results

y_pred = regressor.predict(X_test)

In [122]:
y_pred.min()
y_pred.max()

1.0277134727166124

In [176]:
#Normalized Data
normalized = np.array((y_pred-min(y_pred))/(max(y_pred)-min(y_pred)))

In [177]:
normalized[normalized > 0.5] = 1
normalized[normalized <= 0.5] = 0

In [144]:
normalized

array([1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1.,
       1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1.,
       1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0.,
       1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 0., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0.,
       0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 0., 0., 1., 1.])

In [178]:
from sklearn.metrics import accuracy_score
accuracy_score(normalized, y_test)

0.42105263157894735

In [ ]:
X_opt = X[:,[0,1,3,4,5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

X_opt = X[:,[0,3,4,5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

X_opt = X[:,[0,3,5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

X_opt = X[:,[0,3]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

In [91]:
y['Age'].mean()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [12]:
y['Sex'].sum()

577

In [16]:
y.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2,0,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.3,1,C
2,3,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9,0,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1,1,S
4,5,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0,0,S

In [14]:

# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

C:\Users\gavam\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)